<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <meta charset="UTF-8">

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
  <header class="hero is-medium is-primary is-bold">
    <nav class="hero-head navbar" role="navigation" aria-label="main navigation">
      <div class="container">

        <div class="navbar-brand">
          <a class="navbar-item" href="/">Home</a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
    
        <div id="navbar-burger" class="navbar-menu">
          <div class="navbar-end">
            {% if site.navbar-items %}
            {% for item in site.navbar-items %}
            <a class="navbar-item" href="{{ item.href }}" {% if item.target %}target="{{ item.target }}"{% endif %}>{{ item.name }}</a>
            {% endfor %}
            {% else %}
            <a class="navbar-item" href="/#my-projects">Projects</a>
            <a class="navbar-item" href="/#my-contributions">Contributions</a>
            <a class="navbar-item" href="/#my-blog-articles">Blog</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  
    <div class="hero-body">
      <div class="container">
        {% if site.github.is_project_page == false %}
        <figure class="image is-portrait">
          <img class="is-rounded" src="/images/portrait.jpg">
        </figure>
        {% endif %}
        <h1 class="title is-1">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="subtitle is-3">
          {{ page.description | default: site.description | default: site.github.project_tagline }}
        </h2>
        {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="button is-white is-outlined mb-2 mr-2">View on GitHub</a>
        {% endif %}
        {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="button is-white is-outlined mb-2 mr-2">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="button is-white is-outlined mb-2 mr-2">Download .tar.gz</a>
        {% endif %}
        <div class="mt-3">
          {% include github.html size="2em" %}
          {% include twitter.html size="2em" %}
          {% include instagram.html size="2em" %}
        </div>
      </div>
    </div>
  </header>
  <section class="section">
    <div class="content">
      {{ content }}
    </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      {% if site.github.is_project_page %}
      <p><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
        is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
      {% endif %}
      <p>Theme made with &hearts; by <a href="https://joxit.dev">Joxit</a>.</p>
    </div>
  </footer>
  <script type="text/javascript"
    src="{{ '/assets/js/script.js?v=' | append: site.github.build_revision | relative_url }}"></script>
</body>

</html>